
.card {
    background-color: white;
    border: 1px solid rgb(0, 0, 0, 0.125);
    width: 18rem;
    text-align: unset;
}

.card-img {
    width: 100%;
    margin: 0 0 0.5em 0;
    padding: 0;
}

.card-body {
    
}

.card-header {
    font-size: 1.5rem;
    padding: 0.5rem 0 0 0.5rem;
    margin: 0 0 0.2em 0;
    font-weight: 500;
}

.card-subtitle {
    margin: 0;
    font-size: 1rem;
    padding: 0 0 0.5rem 0.5rem;
    font-weight: 500;
}

.card-text {
    margin: 0;
    padding: 0 0 0.5rem 0.5rem;
}

.card-shadow {
    box-shadow: -5px 5px 10px 0 rgb(0, 0, 0, 0.1);
}

.card-shadow:hover {
    box-shadow: -10px 10px 10px 0 rgb(0, 0, 0, 0.2);
}

@media (min-width: 650px) {
    .card-horizontal {
        display: flex;
        background-color: white;
        border: 1px solid rgb(0, 0, 0, 0.125);
        width: 36rem;
        max-width: 80%;
    }
    
    .card-horizontal-item {
        width: 50%;
    }
}