<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Badges</title>
</head>
<body>
    <nav class="navbar fixed">
        <a href="../../index.html" class="navbar-brand">UI Elements</a>
    </nav>
    <div class="main-page">
        <div class="component-page">
            <h1 class="component-title">Toast</h1>
            <button class="btn btn-primary toast-btn">Success</button>
            <div class="toasts"></div>
            <div class="item-card">
                <script src="https://gist.github.com/manmodesanket/1cd6e4b6ebfcbfec0d5fd76607820bcf.js"></script>
            </div>
        </div>

        <div>
            <header>
                <button class="toggler">
                    <i class="material-icons">menu</i>
                </button>
            </header>
            <aside class="component-list">
                <a href="../alert/alert.html" class="component-list-item">Alert</a>                   
                <a href="../avatar/avatar.html" class="component-list-item">Avatar</a>
                <a href="../badge/badge.html" class="component-list-item">Badges</a>                      
                <a href="../button/button.html" class="component-list-item">Button</a>    
                <a href="../card/card.html" class="component-list-item">Card</a>
                <a href="../form/form.html" class="component-list-item">Form</a>        
                <a href="../navigation/navigation.html" class="component-list-item">Navigation</a>  
                <a href="../list/list.html" class="component-list-item">List</a>    
                <a href="../modal/modal.html" class="component-list-item">Modal</a>
                <a href="./toast.html" class="component-list-item component-list-item-active">Toast</a>
                <a href="../rating/rating.html" class="component-list-item">Rating</a>     
            </aside>
        </div>
    </div>
    <script src="../../index.js"></script>
</body>
</html>