<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>List</title>
</head>
<body>
    <nav class="navbar fixed">
        <a href="../../index.html" class="navbar-brand">UI Elements</a>
        <button class="toggler-new">
            <i class="material-icons">menu</i>
        </button>
    </nav>
    <div class="main-page">
        <div class="component-page">
            <h1 class="component-title">List</h1>
            <div class="item-card">
                <h3>Simple List</h3>
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
                </ul>
            </div>
            <div class="item-card">
                <h3>Simple List with Active item</h3>
                <ul class="list-group">
                    <li class="list-group-item active">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
                </ul>
            </div>
            <div class="item-card">
                <script src="https://gist.github.com/manmodesanket/a526cee0552f97668c3f9842c47a0678.js"></script>
            </div>
        </div>

        <div>
            <header>
                <button class="toggler">
                    <i class="material-icons">menu</i>
                </button>
            </header>
            <aside class="component-list">
                <a href="../alert/alert.html" class="component-list-item">Alert</a>                   
                <a href="../avatar/avatar.html" class="component-list-item">Avatar</a>
                <a href="../badge/badge.html" class="component-list-item">Badges</a>                      
                <a href="../button/button.html" class="component-list-item">Button</a>    
                <a href="../card/card.html" class="component-list-item">Card</a>
                <a href="../form/form.html" class="component-list-item">Form</a>
                <a href="../navigation/navigation.html" class="component-list-item">Navigation</a>  
                <a href="./list.html" class="component-list-item component-list-item-active">List</a>    
                <a href="../modal/modal.html" class="component-list-item">Modal</a>
                <a href="../toast/toast.html" class="component-list-item">Toast</a>
                <a href="../rating/rating.html" class="component-list-item">Rating</a>               
            </aside>
        </div>
    </div>
    <script src="../../index.js"></script>
</body>
</html>