<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles.css">
    <title>Navigations</title>
</head>
<body>
    <div class="main-page">
        <div class="component-page">
            <h1 class="component-title">Navigation</h1>
            <div class="item-card">
                <h3>Simple Nav</h3>
                <nav class="navbar">
                    <a href="#" class="navbar-brand">Navbar</a>
                    <div class="navbar-nav">
                        <a href="" class="nav-item nav-item-active">Home</a>
                        <a href="" class="nav-item">Features</a>
                        <a href="" class="nav-item">Pricing</a>
                        <a href="" class="nav-item">About</a>
                    </div>
                    <div action="" class="navbar-actions">
                        <button class="btn btn-primary">Login</button>
                        <button class="btn btn-basic">Signup</button>
                    </div>
                </nav>
            </div>
        </div>

        <div>
            <button class="toggler"><img src="../../toggle.png" alt="" class="toggler-icon"></button>
            <aside class="component-list">
                <a href="../../index.html" class="component-list-item">Home</a>  
                <a href="../alert/alert.html" class="component-list-item">Alert</a>                   
                <a href="../avatar/avatar.html" class="component-list-item">Avatar</a>
                <a href="../badge/badge.html" class="component-list-item">Badges</a>                      
                <a href="../button/button.html" class="component-list-item">Button</a>    
                <a href="../card/card.html" class="component-list-item">Card</a>        
                <a class="component-list-item">Image</a>        
                <a href="./navigation.html" class="component-list-item">Navigation</a>  
                <a href="../list/list.html" class="component-list-item">List</a>    
                <a href="../modal/modal.html" class="component-list-item">Modal</a>     
            </aside>
        </div>
    </div>
    <script src="../../index.js"></script>
</body>
</html>