<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles.css">
    <title>Badges</title>
</head>
<body>
    <div class="main-page">
        <div class="component-page">
            <h1 class="component-title">Badges</h1>
            <div class="">
                <h2>Simple Badges</h2>
                <span class="badge badge-primary">Primary</span>
                <span class="badge badge-secondary">Secondary</span>
                <span class="badge badge-success">Success</span>
                <span class="badge badge-danger">Danger</span>
                <span class="badge badge-warning">Warning</span>
                <span class="badge badge-info">Info</span>
                <span class="badge badge-dark">Dark</span>
            </div>
            <div class="">
                <h2>Pill Badges</h2>
                <span class="badge badge-pill badge-primary">Primary</span>
                <span class="badge badge-pill badge-secondary">Secondary</span>
                <span class="badge badge-pill badge-success">Success</span>
                <span class="badge badge-pill badge-danger">Danger</span>
                <span class="badge badge-pill badge-warning">Warning</span>
                <span class="badge badge-pill badge-info">Info</span>
                <span class="badge badge-pill badge-dark">Dark</span>
            </div>
            <div class="item-card">
                
            </div>
            <div class="item-card">
                
            </div>
        </div>

        <div>
            <button class="toggler"><img src="../../toggle.png" alt="" class="toggler-icon"></button>
            <aside class="component-list">
                <a href="../../index.html" class="component-list-item">Home</a>  
                <a href="../alert/alert.html" class="component-list-item">Alert</a>                   
                <a href="../avatar/avatar.html" class="component-list-item">Avatar</a>
                <a href="./badge.html" class="component-list-item component-list-item-active">Badges</a>                      
                <a href="../button/button.html" class="component-list-item">Button</a>    
                <a href="../card/card.html" class="component-list-item">Card</a>        
                <a href="../navigation/navigation.html" class="component-list-item">Navigation</a>  
                <a href="../list/list.html" class="component-list-item">List</a>    
                <a href="../modal/modal.html" class="component-list-item">Modal</a>     
            </aside>
        </div>
    </div>
    <script src="../../index.js"></script>
</body>
</html>