<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles.css">
    <title>Modal</title>
</head>
<body>
    <div class="main-page">
        <div class="component-page">
            <h1 class="component-title">Modals</h1>
            <div class="item-card">
                <h3>Simple Modal</h3>
                <div class="modal">
                    <div class="modal-header">
                        <header class="modal-title">Modal Title</header>
                        <button class="close">X</button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Modal body goes here
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <button class="toggler"><img src="../../toggle.png" alt="" class="toggler-icon"></button>
            <aside class="component-list">
                <a href="../../index.html" class="component-list-item">Home</a>  
                <a href="../alert/alert.html" class="component-list-item">Alert</a>                   
                <a href="../avatar/avatar.html" class="component-list-item">Avatar</a>
                <a href="../badge/badge.html" class="component-list-item">Badges</a>                      
                <a href="../button/button.html" class="component-list-item">Button</a>    
                <a href="../card/card.html" class="component-list-item">Card</a>        
                <a class="component-list-item">Image</a>        
                <a href="../navigation/navigation.html" class="component-list-item">Navigation</a>  
                <a href="../list/list.html" class="component-list-item">List</a>    
                <a href="./modal.html" class="component-list-item">Modal</a>     
            </aside>
        </div>
    </div>
    <script src="../../index.js"></script>
</body>
</html>